body {
  background-color: rgba(255, 255, 0, 0.186);
}

.discount-box {
  background-color: #fff;
  border: 1px solid rgba(255, 166, 0, 0.551);
  border-radius: 8px;
}

.discount-box h2 {
  color: orange;
  text-align: center;
  font-size: 32px;
}

.discount-box .main-text {
  text-align: center;
  color: red;
}

.discount-box .discount-info {
  background-color: black;
  border: 5px dashed blue;
  border-radius: 16px;
  color: #fff;
  font-weight: 800;
}

.discount-box .warning {
  color: red;
  text-align: center;
  text-transform: uppercase;
}
